.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-image: url("/Projeto_FRONT_FINAL/ProjetoClubeCarros/src/assets/aaa-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding: 20%;
    text-align: center;
    font-size: 100px;
    font-family: "Bebas Neue", sans-serif;
    }

 body{
  background-color: rgb(83, 35, 35);
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
 }

 p{
  font-size: 23px;
 }

 h5{
  font-size: 30px;
  color: black;
 }
 a{
  font-size: x-large;
 }
 